* {
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
}

#boards {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
}

.board {
    display: block;
    margin: 40px 1%;
    padding: 1.5%;
    border: 1px solid #cccccc;
    border-radius: 12px;
    box-sizing: content-box;
    width: 95%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card {

}

.board-column {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 21%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}